.top-nav .theory .arrow, .top-nav .theory {
	color:#29aba4;
	opacity:1;
}

.main {
	min-height:750px;
}

.s {
	height:400px;
	opacity:0.5;
	margin-top:60px;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
  	transition-duration: 0.4s;
}

.sect {
	width:100%;
	height:600px;
	margin-top:20px;
}

.bg-wrap {
	height:400px;
	width:100%;
	margin-left:-15px;
	opacity:1;
}

.section-1 {
	background:url('background/G3YOGRBLF3.jpg') 50% 50% no-repeat;*/
	height:400px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.section-2 {
	background:url('background/6UHHE19YG7.jpg') 50% 50% no-repeat;*/
	height:400px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.s:hover {
	opacity:1;
}